<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atjiao.cloud.mapper.ChatMessagesMapper">

    <resultMap id="BaseResultMap" type="com.atjiao.cloud.domain.ChatMessages">
            <id property="messageId" column="message_id" />
            <result property="sessionId" column="session_id" />
            <result property="senderId" column="sender_id" />
            <result property="content" column="content" />
            <result property="messageType" column="message_type" />
            <result property="sendTime" column="send_time" />
            <result property="readStatus" column="read_status" />
            <result property="isRevoked" column="is_revoked" />
            <result property="createBy" column="create_by" />
            <result property="createTime" column="create_time" />
            <result property="updateBy" column="update_by" />
            <result property="updateTime" column="update_time" />
            <result property="delFlag" column="del_flag" />
    </resultMap>

    <sql id="Base_Column_List">
        message_id,session_id,sender_id,content,message_type,send_time,
        read_status,is_revoked,create_by,create_time,update_by,
        update_time,del_flag
    </sql>
</mapper>
